<div class="container info">
  <div class="about">
    <p style="white-space: pre-wrap;"><%= I18n.locale.to_s == 'is' ? @info.info_is : @info.info_en %></p>
  </div>

  <h2 class=""><%= I18n.t "groups.title" %></h2>
  <div class="groups flex-child-row">
    <% @groups.each do |group| %>
    <div class="flex-item-1">
      <h3><%= group.name %></h3>      
    </div>
    <% end %>
  </div>
</div>
