<div class="container signup">
  <div class="row">
    <div class="col-md-12">
      <h1>Keppnin</h1>
          <h4 class="comp-text">
             Klaustur Off-Road Challenge er 6 tíma þolakstursmót. Keppnin er haldin að Ásgarði sem er rétt fyrir utan Kirkjubæjarklaustur. Startað er kl. 12:00 á hádegi og byrjað er að flagga keppendur út kl. 18:00. Árið 2017 verður keppnin haldin laugardaginn 27. maí.
          </h4>
          <hr class="comp-line">
          <h4 class="comp-text">
             Ef þú hefur gaman af því að aka torfæruhjóli er þetta klárlega viðburður fyrir þig og mögulega alla fjölskylduna. Þú skalt alls ekki láta orðin “mót“ eða “keppni“ draga þig frá því að taka þátt. Það er í raun bara afsökun fyrir því að koma saman og eiga góðan hjóladag. Að sama skapi þarf ekki að hafa áhyggjur af því að hafa ekki nógu mikla reynslu eða getu á hjólinu. Brautin er öllum fær. Í brautinni eru ekki þrautir sem krefjast mikillar reynslu og þekkingar. Brautin er að mestu leyti í grashólum og á sandeyrum. Grjótbrölt og þverbrattar brekkur er ekki að finna í þessari braut. Þetta hefst svo allt saman án þess að það komi niður á skemmtanagildinu.
          </h4>
          <hr class="comp-line">
          <h4 class="comp-text">
             Hér neðar á síðunni geturðu séð hvaða flokkar eru í boði og hvaða skilyrði þarf að uppfylla til þess að taka þátt. Ef þú ert yngri en 14 ára, skaltu fara enn neðar á síðuna og sjá hvort að þú getir ekki verið með í barnakeppninni.
          </h4>
          <hr class="comp-line">
          <h4 class="comp-text">
             Skráning fer fram á heimasíðu <a href="http://www.msisport.is">MSÍ</a>. Til þess að geta skráð þig þarft þú og liðsfélagar þínir að vera greiddir meðlimir í akstursíþróttafélagi innan MSÍ. Á höfuðborgarsvæðinu væri helst að nefna VÍK og MotoMos. Í vesturátt er hægt að leita til VÍFA uppi á Skaga. Fyrir austan fjall eru það UMF Selfoss/Þór Þorlákshöfn eða Hreppakappar í Hrunamannahreppi. Fyrir norðan er það KKA á Akureyri og austan er það Start á Egilstöðum. Leitið til ykkar félags um nánari upplýsingar varðandi greiðslu félagsgjalda og aðgang að síðu MSÍ. Ef VÍK er ykkar félag, sendið þá póst á vik@motocross.is
          </h4>
          <hr class="comp-line">
          <h4 class="comp-text">
             Skráðu þig, farðu yfir hjólið og svo sjáumst við á Klaustri. Þú sérð ekki eftir því.
          </h4>
      </div>
  </div>

  <% @groups.each do |group| %>
    <p><%= group.name %></p>
  <% end %>
</div>
