<p id="notice"><%= notice %></p>

<p>
  <strong>Youtube:</strong>
  <%= @index_video.youtube %>
</p>

<%= link_to 'Edit', edit_index_video_path(@index_video) %> |
<%= link_to 'Back', index_videos_path %>
